.contenedor{
    background-color: #999;
    border-radius: 10px;
    margin: 10px 0;
    padding: 20px;
    width: 50%;
    position: relative;
    left: 25%;
}


input[type="text"],
input[type="email"],
select,
textarea{
    width:100%; 
    padding: 10px;
    margin: 8px 0;
    border: 2.5px solid #000000;
    border-radius: 2.5px;
    box-sizing: border-box;
}

input[type="submit"]{
    width: 100%;
    background-color: #0e52b887;
    padding: 15px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-style: bold;
    font-size: 15px;
   
}

input:focus{
    background-color: rgba(163, 204, 157, 0.792);
}

textarea:focus{
    background-color: rgba(163, 204, 157, 0.792);
}


input[type="submit"]:hover{
    background-color: #af1c6b87;
    
}